<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../css/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="../css/slick/slick-theme.css"/>
    <link rel="stylesheet" type="text/css" href="../css/styles.css">

    <script src="https://kit.fontawesome.com/a914cb10b3.js" crossorigin="anonymous"></script>
    <title>kvvg</title>
</head>
<body id="blogpost">
    <main class="container px-0">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="post-container row">
                    <div class="card-container mx-0 ">
                        <div class="card border-0">
                            <div class="row mx-0">
                                <div class="col-md-10 col-sm-12 col-xs-12 px-0">
                                    <h3 class="heading px-0">NAUJIENOS IŠ PASVALIO</h3>
                                </div>
                                <div  class="col-md-2 col-sm-12 col-xs-12 px-0">
                                    <small class="date">2019-11-17 </small>
                                </div>
                            </div>
                            <img class="rounded-0 card-img-top" src="../img/blank.png"  alt="Card image cap">
                            <p class="p">
                                Birželio 1 d. minint Tarptautinę vaikų gynimo dieną paaiškėjo tarptautinės organizacijos
                                Reach for change inicijuoto pokyčių konkurso „Talentas keisti“ nugalėtojai. Verslo idėjų
                                konkurse iš viso dalyvavo 136 verslo idėjos, iš kurių per kelis vertinimo etapus buvo
                                <br/><br/>
                                išrinktos 6 finalinės idėjos, iš kurių dviem geriausioms socialinio verslo idėjoms atiteko
                                prizai po 20 000 Eur. Tarp dviejų geriausių socialinių verslų idėjų buvo išrinkta, pirmus
                                gyvavimo metus skaičiuojanti socialinio verslo įmonė iš Pasvalio –
                                VšĮ Socialinė iniciatyva ir jos vykdomas mobilus darbas su jaunimu kaimiškose
                                vietovėse.<br/><br/>
                                Skaitykite daugiau:</p>
                                <a class="p color-green" href=" http://pasvaliorvvg.lt/2020/06/05/puikus-startas-socialiniu-verslu-padangeje">
                                    http://pasvaliorvvg.lt/2020/06/05/puikus-startas-socialiniu-verslu-padangeje
                                </a>
                            <div>

                                <a class="small-link" href="#">Go somewhere</a>
                            </div>                </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="post-footer">
        <div class="container px-0">
            <h2 class="heading">
                Naujienos
            </h2>

            <div class="hr-container">
                <hr/>
            </div>
            <div class="row2 row mx-0">
                <div class="card-container col-md-3 col-sm-12 col-xs-12 rounded-0 mx-0">
                    <div class="card border-0">
                        <img class="card-img-top" src="../img/blank.png" alt="Card image cap">
                        <small class="date">2019-11-17 </small>
                        <h3 class="my-card-title">Card title</h3>
                        <p class="p">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div>
                            <a class="small-link" href="#">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="card-container col-md-3 col-sm-12 col-xs-12 rounded-0 mx-0">
                    <div class="card border-0">
                        <img class="rounded-0 card-img-top" src="../img/blank.png" alt="Card image cap">
                        <small class="date">2019-11-17 </small>
                        <h3 class="my-card-title">Card title</h3>
                        <p class="p">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div>
                            <a class="small-link" href="#">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="card-container col-md-3 col-sm-12 col-xs-12 mx-0">
                    <div class="card border-0">
                        <img class="rounded-0 card-img-top" src="../img/blank.png" alt="Card image cap">
                        <small class="date">2019-11-17 </small>
                        <h3 class="my-card-title">Card title</h3>
                        <p class="p">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div>
                            <a class="small-link" href="#">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="card-container col-md-3 col-sm-12 col-xs-12 mx-0">
                    <div class="card border-0">
                        <img class="rounded-0 card-img-top" src="../img/blank.png" alt="Card image cap">
                        <small class="date">2019-11-17 </small>
                        <h3 class="my-card-title">Card title</h3>
                        <p class="p">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div>
                            <a class="small-link" href="#">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>